.StyledSelect {

  display: inline-block;

  .Select {

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .Select-control {
      background-color: transparent;
      border: initial;
      border-color: initial;
      border-radius: initial;
      box-shadow: initial !important;
      padding: 0 32px 0 0;

      width: 100%;
      height: 100%;

      .Select-placeholder {
        display: none;
        padding: 0px;
        position:absolute;
        bottom:10px;
        top: initial !important;
        line-height: 24px;
      }

      .Select-input {
        // width: 100%;
        // height: 100%;
        height: auto !important;
        overflow: hidden;
        padding: 0px;
        position:absolute;
        bottom: 10px;

        input {
          tap-highlight-color: rgba(0, 0, 0, 0);
          padding: 0;
          position: relative;
          width: 100%;
          height: 100%;
          outline: none;
          font: inherit;
        }
      }

      .Select-arrow-zone {
        position: absolute;
        bottom: 18px;
        right: 0px;
      }
    }

    .Select-menu-outer {
      box-sizing: border-box;
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
      border-radius: 2px;
      padding-top: 8px;
      padding-bottom: 8px;
      overflow: visible;
      z-index: 6;
      outline: none !important;
      opacity: 1;
      visibility: visible;
      background-color: rgb(255, 255, 255);

      .Select-menu {
        max-height: 184px;

        .Select-option {
          color: rgba(0, 0, 0, 0.87);
        }

        .Select-option.is-focused {
          color: rgba(0, 0, 0, 0.87);
          background-color: rgba(0, 0, 0, 0.0313726);
        }
      }
    }
  }

  .SelectLabel {
    display: inline-block; // material-ui
    position: absolute; // material-ui
    line-height: 22px; // material-ui
    opacity: 1; // material-ui
    color: rgba(0, 0, 0, 0.3); // material-ui
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; // material-ui
    bottom: 12px; // material-ui
    top: initial; // override
    left: initial; // override
    right: initial; // override
    padding: 0; // override
    transform: scale(1) translate3d(0px, 0px, 0px);
    transform-origin: left top 0px;
    margin: 0px;
  }

  .underscore-grey {
    border:none;
    border-bottom: solid 1px #e0e0e0;
    position:absolute;
    width:100%;
    bottom:8px;
    margin:0;
    -moz-box-sizing:content-box;
    box-sizing: content-box;
    height:0;
  }

  .underscore-blue {
    border-style: none none solid;
    border-bottom-width: 2px;
    position: absolute;
    width: 100%;
    bottom: 8px;
    margin: 0px;
    box-sizing: content-box;
    height: 0px;
    border-color: rgb(63, 81, 181);
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.StyledSelect.is-focused {
  .underscore-blue {
    transform: scaleX(1) !important;
    z-index: 2;
  }

  .SelectLabel {
    color: rgb(63,81,181) !important;
  }
}

.StyledSelect.is-focused, .StyledSelect.has-value {
  .SelectLabel {
    transform: perspective(1px) scale(0.75) translate3d(2px, -28px, 0px) !important;
  }
}

.StyledSelect {
  .Select.has-value {
    .Select-placeholder {
      display: block !important;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

.StyledSelect.is-error {
  .underscore-grey {
    border-color: #F44336 !important;
    transform: scaleX(1) !important;
    border-bottom-width: 2px !important;
  }

  .underscore-blue {
    visibility: hidden !important;
  }

  .errorText {
    position: relative;
    bottom: 5px;
    font-size: 12px;
    line-height: 12px;
    color: #F44336;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  }
}

.StyledSelect.is-multi {

  height: auto !important;
  min-height: 48px;

  .rowAligner {
    display: none;
  }

  .Select {
    position: initial;

    .Select-control {
      margin-bottom: 16px;
      overflow: visible;
      bottom: 0px;
      min-height: 32px;

      .Select-arrow-zone {
        bottom: 0px !important;
      }
    }

    .Select-placeholder {
      height: 100%;
      top: 12px;
    }
  }

  .Select-input {
    height: auto !important;
    padding: 0;
    border: 0;
    margin: 0;
  }

  .Select-item {
    border-color: rgba(0, 0, 0, 0.87) !important;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87) !important;
    margin: 5px 2px 0 0;
    padding: 0;

    .Select-item-icon {
      color: rgba(0, 0, 0, 0.87) !important;
      border: 0px solid transparent !important;
      margin: 0;
      padding: 0px 5px;
    }

    .Select-item-icon:hover {
      background-color: #AAAAAA;
    }

    .Select-item-label {
      color: rgba(0, 0, 0, 0.87) !important;
      border-left: 1px solid rgba(0, 0, 0, 0.87);
      margin: 0;
      padding: 0 4px 0 2px;
    }
  }
}
