@import "~assets/less/_colors.less";

// overflows whole grid when loading data
.grid-comp--loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(255, 255, 255, 0.50);
  text-align: center;

  > div {
    position: absolute;
    top: 45%;
    left: 50%;
  }
}


.md-grid {
  padding: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  //width: 100%;
}

.md-grid-row {
  height: 28px;
}

.md-grid-row-hover:hover .md-grid-cell {
  background-color: #EEEEEE;
}

.md-grid-data-row {
  /*margin-left: 28px;*/
}

.md-grid-cell {
  display: inline-block;
  padding: 0 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 28px;
  border-top: 1px @blue-grey-100 solid;
}

.md-grid-row-selected .md-grid-cell {
  background-color: #EEEEEE;
}

.md-grid-row-hover .md-grid-cell:hover {
  background-color: #EEEEEE;
}

.md-grid-body {
  overflow-y: auto;
  flex: 1 1 auto;
  min-height: 0;
  white-space: nowrap;
}

.md-grid-header {
  height: 32px;
  position: relative;
  white-space: nowrap;
}

.md-grid-header-wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 32px;
}

.md-grid-header-cell {
  display: inline-block;
  color: @grey-500;
  padding: 0 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    cursor: pointer;
  }

}
