@import "~assets/less/_colors";

.toolmenu {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: @blue-grey-50;
  padding-left: 10px;
  padding-right: 10px;
}



